# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Environment variables (DO NOT COMMIT)
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
